 .navigation {
     background-color: cornflowerblue;
     justify-content: right;
     align-items: center;
     display: flex;
 }
 .text-2xl{

    text-align: center;
 }
 .logo{
    font-size: 22px;
    padding-right: 800px;
    display: flex;
    }
.logo img{
    width: 85px;
    height: 50px;
    padding-right: 10px;
}
.buttons{
    display: flex;
}
.text-green-800 {
    margin-left: 500px;
    margin-right: 50px;
}
