/* Add a black background color to the top navigation */
.topnav {
    background-color:whitesmoke;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.products{
    margin-top: 200px;
    margin-left: 40px;
    display: inline-block;
    justify-items: center;
}
.image{
    min-height:340px;
}
h4{
    text-align: right;
    padding-left: 850px;
}
.buttons{
    display: flex;
    margin-left: 20px;
}
.card{
    margin-bottom: 20px;
}
